.login{
    width: unset;
    width: 100vw !important;
    box-sizing: border-box;
    padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.login .left img{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
    height: 100vh;
    object-fit: cover;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.7) !important;
}

@media (min-width: 1199.98px) {
    .login-wrapper{
        /* margin: 50px auto; */
        width: 75% !important;
        /* height: 500px; */
    }
    .form-login .sub-title, .login-wrapper .top-logo img{
        margin-bottom: 50px !important
    }
  }
/* RIGHT */
.login-wrapper{
    margin: 50px auto;
    width: 95%;
    height: 500px;
}
.login-wrapper img{
    margin-left: 15px;
    margin-bottom: 30px;
    height: 50px;
}
.top-logo{
    /* height: 60px; */
    display: inline-flex;
}
.login-wrapper .top-logo p{
    width: 200px;
    font-family: montserrat;
  font-size: 12px;
  color: rgba(11,23,20,.7);
  font-weight: 500;
  /* margin: 15px; */
  padding: 5px;
  margin-bottom: 5px;
}
.top-logo img{
    margin-right: 10px;
    padding-left: 5px;
    height: 60px;
    opacity: .7;
}
.form-login{
    margin: 15px;
}
.form-login .title{
  opacity: 1;
  font-size: 33px;
  font-family: Roboto;
  color: rgba(11,23,20,1);
  line-height: 40px;
  letter-spacing: 0px;
}

.form-login .sub-title{
  opacity: 1;
  font-size: 19px;
  font-family: Roboto;
  color: rgba(54,105,90,1);
  line-height: 23px;
  letter-spacing: 0px;
  margin-bottom: 40px;
}
.form-group{
  margin-bottom: 0px !important;
}
.username .form-control {
  color: #212120;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 1.5rem 0.75rem 0rem .75rem !important;
  font-size: 1rem;
  line-height: 3 !important;
  /* color: #495057; */
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-bottom: 0px;
  /* border-radius: .25rem; */
  /* border: 1px solid rgb(224, 224, 224); */
  transition: border-left-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-radius: 0.25rem 0.25rem 0 0 !important;

}
.password .form-control {
  color: #212120;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 1.5rem 0.75rem 0rem .75rem !important;
  font-size: 1rem;
  line-height: 3 !important;
  /* color: #495057; */
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  /* border-radius: .25rem; */
  /* border: 1px solid rgb(224, 224, 224); */
  transition: border-left-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-radius: 0 0 .25rem .25rem !important;
}
.password label, .username label{
      color: #36695A !important;
      font-weight: 400 !important;
      display: inline !important;
      margin-bottom: -50px !important;
      /* z-index: 99999; */
      position: absolute;
      margin-left: .75rem;
      margin-top: .4rem;
      padding-top: .3rem;
}
.login .form-control:focus {
  color: #495057;
  background-color: #fff;
  /* border-left-color: #36695A !important; */
  border-left:solid 5px #36695A!important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.login .button{
    margin-top: 50px;
    
}
.button h5{
    margin-bottom: unset !important;
    padding: 10px
}